ClienteSOAP/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/SOAP_ServicioWeb/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/SOAP_ServicioWeb/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="ProcesarPago">
<part name="parameters" element="tns:ProcesarPago"/>
</message>
<message name="ProcesarPagoResponse">
<part name="parameters" element="tns:ProcesarPagoResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="ProcesarPago">
<input wsam:Action="http://WS/WSOperaciones/ProcesarPagoRequest" message="tns:ProcesarPago"/>
<output wsam:Action="http://WS/WSOperaciones/ProcesarPagoResponse" message="tns:ProcesarPagoResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://WS/WSOperaciones/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://WS/WSOperaciones/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WS/WSOperaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WS/WSOperaciones/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ProcesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/SOAP_ServicioWeb/WSOperaciones"/>
</port>
</service>
</definitions>